[Unit]
Description=Docker Swarm Agent
After=docker.service

[Service]
EnvironmentFile=/etc/profile.d/env.sh
ExecStart=/usr/bin/swarm join --advertise=$NODE_IP:2375 $SWARM_DISCOVERY

[Install]
WantedBy=multi-user.target
